*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter',sans-serif;
    background-color: #0F0B08;
    color: white;
}

ul{
    list-style: none;
}

/* cotainer */
.container{
    padding-left: 5%;
    padding-right: 5%;
}

/* main content responsive */
.main {
    width: 1500px;
    margin: 0 auto;
}
@media screen and (max-width: 1400px) {
    .main {
        width: 100%; 
    }
}
/* /main content responsive */


/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }
/* /scroll bar */

/* navbar */
.header{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    margin-bottom: 100px;
    padding-right: 1%;
}
.title{
    font-size: 16px;
    font-weight: 600;
}
.navbar{
    /* width: 30%; */
    width: 350px;
    /* background-color: #2d293cc9; */
    padding: 15px;
    border-radius: 100px;

}
.navbar  ul{
    padding-left:  5%;
    padding-right:  5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar  a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    font-size: 15px;

}
.navbar  a:hover{
    text-decoration: none;
    color: #FF5B00;
    text-shadow: 0px 0px 20px #FF5B00;
}
.active{
    color: #FF5B00 !important;
    text-shadow: 0px 0px 20px #FF5B00;
}

.sign-up{
    padding: 10px;
    background-color: #FF5B00;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.sign-in{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    font-size: 15px;
    margin-right: 15px;
}
.sign-up:hover{
    box-shadow: 0 0 20px #FF5B00;
}
/* //navbar end */


/* body */
.child-shape1{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.child-shape2{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    right: 25px;
    bottom: 100px;
    /* top: 5px; */
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.child-shape3{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.container-hiro-categories{
        height: 228px;
        position: relative;
        background-color: red;
        border-radius: 40px;
        margin-bottom: 30px;
}
.hiro-categories{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 40px;
    top: 0;
    left: 0;
}
.container-category-categories{
    /* background-color: red; */
}

.container-categories{
    columns: 4 250px;
    column-gap: 20px;
}
.container-categories a{
    text-decoration: none;
    color: white;
}
.container-categories a:hover{
    filter: brightness(70%);
    transition: filter .3s ease-in-out;
}
.child-container-categories{
    /* background-color: red; */
    height: 239px;
    position: relative;
    border-radius: 40px;
    margin-bottom: 20px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-categories{
    width: 100%;
    border-radius: 40px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.description-categories{
    background-color: #161a1fe9;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
/* //body */

/* responsive design */
@media screen and (max-width: 700px) {
    /* navbar */
    .navbar{
        position: fixed;
        bottom: 0;
        margin-bottom: 5px;
        width: 83%;
        z-index: 1000;
        background-color: #2D293C;
    }
    
    .reload{
        padding: 15px;
        background-color: #B901F6;
        border-radius: 100px;
        text-align: center;
    }
    /* //navbar */
}