*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter',sans-serif;
    background-color: #0F0B08;
    color: white;
}

ul{
    list-style: none;
}

/* cotainer */
.container{
    padding-left: 5%;
    padding-right: 5%;
}

/* main content responsive */
.main {
    width: 1500px;
    margin: 0 auto;
}
@media screen and (max-width: 1400px) {
    .main {
        width: 100%; 
    }
}
/* /main content responsive */


/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
/* /scroll bar */

/* navbar */
.header{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    margin-bottom: 100px;
    padding-right: 1%;
}
.title{
    font-size: 16px;
    font-weight: 600;
}
.navbar{
    /* width: 30%; */
    width: 350px;
    /* background-color: #2d293cc9; */
    padding: 15px;
    border-radius: 100px;

}
.navbar  ul{
    padding-left:  5%;
    padding-right:  5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar  a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    font-size: 15px;

}
.navbar  a:hover{
    text-decoration: none;
    color: #FF5B00;
    text-shadow: 0px 0px 20px #FF5B00;
}
.active{
    color: #FF5B00 !important;
    text-shadow: 0px 0px 20px #FF5B00;
}

.not-prof{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-nav-container{
    width: 35px;
    height: 35px;
    background-color: #20262C;
    border-radius: 100px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.profile-nav-container img{
    width: 100%;
    height: 100%;
}

/* //navbar end */


/* body */
.child-shape1{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.child-shape2{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    right: 25px;
    bottom: 100px;
    /* top: 5px; */
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.child-shape3{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.wrapping-elemet{
        padding: 20px;
        position: relative;
        background-color: #161a1f74;
        border-radius: 40px;
        margin-bottom: 30px;
}
.header-title{
    display: flex;
    justify-content: space-between;
}
.close-button{
    font-size: 25px;
    color: #FF5B00;
    transition: all .3s ease-in-out;
}
.close-button:hover{
    color: #cd4800;
}
.container-update-profile{
    margin-top: 53px;
    gap: 39px;
    display: flex;
    justify-content: center;
}
.wrapping-image-update-profile{
    background-color: #2926368d;
    width: 250px;
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 500px;
}
.wrapping-image-update-profile img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
}
.form-input-update-profile {
    /* background-color: #2D293C; */
    width: 68%;
}
.input-distance-update-profile select{
    background-color: #1b1f27 !important;
}
.input-form{
    /* margin-top: 5px; */
    width: 100%;
    position: relative;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 8px;
    background-color: transparent !important;
    color: white;
    border: none;
    border-bottom: 1px solid #ff5d066b;
    transition: all .3s ease-in-out;
}
.input-form:focus{
   outline:  none;
   border-bottom: 1px solid #FF5B00; 
   /* box-shadow: 0 3px 8px #FF5B00; */
}
.form-input-update-profile span{
    color: #FF5B00;
    font-size: 20px;
}
.input-distance-update-profile{
    margin-bottom: 25px;
}
.allow_comments{
    cursor: pointer;
}
.input-distance-update-profile button{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: #FF5B00;
    border: 1px solid #FF5B00;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.input-distance-update-profile button:hover{
    box-shadow: 0 0 20px #FF5B00;
}
/* //body */

/* responsive design */
@media screen and (max-width: 700px) {
    /* navbar */
    .navbar{
        position: fixed;
        bottom: 0;
        margin-bottom: 5px;
        width: 83%;
        z-index: 1000;
        background-color: #2D293C;
    }
    /* //navbar */
    .img-container-profile-update{
        display: flex;
        justify-content: center;
    }
    /* body */
    .container-update-profile{
        display: flex;
        flex-direction: column;
    }
    
    .form-input-update-profile{
       width: 100%;
    }
    /* //body */
}