*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter',sans-serif;
    background-color: #0F0B08;
    color: white;
}

ul{
    list-style: none;
}

/* cotainer */
.container{
    padding-left: 5%;
    padding-right: 5%;
}

/* main content responsive */
.main {
    width: 1500px;
    margin: 0 auto;
}
@media screen and (max-width: 1400px) {
    .main {
        width: 100%; 
    }
}
/* /main content responsive */


/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
/* /scroll bar */

/* navbar */
.header{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    margin-bottom: 100px;
    padding-right: 1%;
}
.title{
    font-size: 16px;
    font-weight: 600;
}
.navbar{
    /* width: 30%; */
    width: 350px;
    /* background-color: #2d293cc9; */
    padding: 15px;
    border-radius: 100px;

}
.navbar  ul{
    padding-left:  5%;
    padding-right:  5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar  a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    font-size: 15px;

}
.navbar  a:hover{
    text-decoration: none;
    color: #FF5B00;
    text-shadow: 0px 0px 20px #FF5B00;
}
.active{
    color: #FF5B00 !important;
    text-shadow: 0px 0px 20px #FF5B00;
}

.sign-up{
    padding: 10px;
    background-color: #FF5B00;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.sign-in{
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    font-size: 15px;
    margin-right: 15px;
}
.sign-up:hover{
    box-shadow: 0 0 20px #FF5B00;
}
/* //navbar end */


/* body */
.child-shape1{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.child-shape2{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    right: 25px;
    bottom: 100px;
    /* top: 5px; */
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.child-shape3{
    position: absolute;
    z-index: -10000;
    width: 302px;
    height: 286px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    background: rgb(255,91,0);
background: linear-gradient(180deg, rgba(255,91,0,1) 0%, rgba(255,123,0,1) 0%, rgba(142,100,91,1) 25%, rgba(12,70,152,1) 64%);
    border-radius: 500px;
    filter: blur(160px);
}
.wrapping-elemet{
        padding: 20px;
        text-align: center;
        position: relative;
        background-color: #161a1f74;
        border-radius: 40px;
        margin-bottom: 30px;
}
.flex-display-center{
    display: flex;
    justify-content: center;
}
.container-image-profile{  
    display: flex;
    justify-content: center; 
}
.wrapping-image-profile{
    background-color: red;
    margin-top: 25px;
    width: 141px;
    position: relative;
    height: 141px;
    border-radius: 100px;
}
.image-profile{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.information-menu-container{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.information-menu{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.information-menu a{
    color: white;
    text-decoration: none;
}
.bio-container{
    display: flex;
    justify-content: center;
}
.bio-container p{
    width: 80%;
}

.ber-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.ber-container ul{
    display: flex;
    gap: 20px;
}
.ber-container a{
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #20262C;;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    transition: all .3s ease-in-out;
}
.ber-container a:hover{
    border: 1px solid #FF5B00;

}
.container .image-container{
    columns: 5 250px;
    margin-top: 44px;
    gap:5px;
}
.image-container img{
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.image-container img:hover{
   filter: grayscale(1);
   transform: scale(1.02);
}
.active-menu{
    border: 1px solid #FF5B00 !important;
}
.follow-menu{
    background-color: #FF5B00 !important;
}
/* //body */

/* responsive design */
@media screen and (max-width: 700px) {
    /* navbar */
    .navbar{
        position: fixed;
        bottom: 0;
        margin-bottom: 5px;
        width: 83%;
        z-index: 1000;
        background-color: #2D293C;
    }
    /* //navbar */
}